.modelOverlay {
  width: 100%;
  position: fixed;
  height: 100%;
  display: none;
  background-color: rgb(0, 0, 0,0.4);
}

.ShowModal {
  display: block;
}

.modelDiv1 {
  width: 330px;
  height: 320px;
  position: fixed;
  background: white;
  left: 50%;
  top: -550%;
  transition: 0.5s;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.ShowModalDiv  {
  top: 50%;
}

.btn  {
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 50px;
  cursor: pointer;
}